@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=Jersey+10&display=swap');

:root {
    background-color: rgb(26, 26, 26);
    margin: 0px;
    font-family: 'Jersey 10';
}

body {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    margin: 0px;
    padding: 8px;
    box-sizing: border-box;
    gap: 8px;
}

.output {
    display: flex;
    flex-direction: column;
    min-height: 40px;
    max-height: 100dvh;
    flex-grow: 1;
    color: lightgray;
    font-size: 1.2rem;
    overflow-y: scroll;
}

.input-container {
    display: flex;
    color: lightgray;
    align-items: center;
    border-bottom: 2px solid rgb(112, 112, 112);
    font-size: 1.1rem;
    /* position: fixed;
    bottom: 0px; */
}

input {
    display: flex;
    margin-bottom: auto;
    box-sizing: border-box;
    width: 100%;
    background: transparent;
    padding: 8px;
    outline: none;
    border: none;
    border-radius: 2px;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

/* .input-container:hover body {
    height: 10dvh;
} */

span {
    height: fit-content;
}

pre {
    background-color: rgb(15, 15, 15);
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    padding: 4px;
    margin: 0px;
}

.warn {
    color: rgb(187, 125, 11);
}


@media screen and (max-width: 400px) {
    body:has(input:focus) {
        height: 50dvh;
    }
}